#!/bin/sh
export JAVA_OPTS="-server -Xmx{{ java_xmx_megabytes }}m -Djavax.net.ssl.trustStore=/opt/kapa-ca -Djavax.net.ssl.trustStorePassword={{ java_truststore_password }}"
export IDP_HOME=/opt/shibboleth-idp
export CATALINA_OUT=/data00/logs/catalina.out
export UMASK=0022

